<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.inson.springboot.data.dao.IAdminUsersMapper">

    <select id="selectUserByUsername" resultType="top.inson.springboot.data.entity.dto.AdminUsersDto" parameterType="string">
        select au.*, sd.dept_name, j.name jobName
        from admin_users au
        left join sys_dept sd on au.dept_id = sd.id
        left join job j on au.job_id = j.id
        where au.username = #{username}
    </select>

</mapper>